* {margin: 0; padding: 0; border:0; box-sizing: border-box;}

html, body {height: 100%; width: 100%;}

img {max-width: 100%;}

body {background-color: silver;}

/* T Y P O G R A P H Y*/
h1, h2, h3 {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 5%;
}

h2, h3 {text-decoration: underline;}

h1 {font-size: 72px;}

h2 {font-size: 56px;}

h3 {font-size: 36px;}

p {font-size: 24px;}

p,a {font-family: 'Exo', sans-serif;}

.clearfix {clear: both}

/* H E A D E R --------------------------------------------------------------------*/
header {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5% 5% 0 0;
    z-index: 100;
}

nav {
    width: 40px;
    height: 35px;
}

nav ul, nav:active ul {
    list-style: none;
    width: 90vw;
    display: none;
    text-align: center;
    position: absolute;
    right: 0;
}

#menu-icon {
    width: 30px;
    height: 26px;
    background: url(../images/nav-icon.png) center;
    display: block;  
}

nav:hover ul {
	position: absolute;
    right: 0;
    top: 0;
    display: table;
    
}

nav ul li a {
    color: floralwhite;
    text-decoration: none;
    font-family: lobster;
    font-size: 36px;
    overflow: visible;
}
nav ul li {
    display: table-cell;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
}

nav ul li a:hover {
    text-decoration: line-through;   
}

/* I N T R O-----------------------------------------------*/
.intro {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    min-width: 50%;
    min-height: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* M A I N / A B O U T------------------------------------------------------------*/
main {
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
} 
article {
    padding-right: 5%;
    text-align: justify;
    width: 70%;
    float: left;
}
aside {
    width: 30%;
    float: left;
}

aside img {
    max-width: 100%;
    height: auto;
    text-align: center;
}
main p {
    margin: 10% 5% 0 0;
}

/* S E R VI C E S -----------------------------------------------------------------*/
.services-inner {
    width: 80%;
    margin: 0 auto;
}
.services-box p {
    font-size: 20px;
    ]width: 97%;
}

.services-box h2 {
    padding-bottom: 0;
}
.services-box{

    min-height: 100%; 
    background: url(../images/photo.jpeg) fixed 100%;
    background-size: cover;
    opacity: 0.9
}
.p-border {
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.col3 h3{
    margin-top: -10%;
}
.col3 h3, .icon-div {
    text-align: center;
}
.col3 {
    float: left;
    width: 33.3333333333%;
}
.col3 p {
    text-align: justify;
    padding: 3%;
    background-color: black;
    opacity: .8;
    color: floralwhite;
}
.icon-div i {
    color: black;
    font-size: 100px;
    padding: 20%
    }

/* O F F E R ----------------------------------------------------------------------*/
.offer-box {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.col4-offer {
    width: 33.3333333333%;
    float: left;
    padding: 0 2% 3% 2%;
}



/* C O N T A C T-------------------------------------------------------------------*/
.contact-container {
    width: 100%;
    background-color: orange;
    padding-bottom: 3%;
}
.footer-inner {
    width: 80%;
    margin: 0 auto;
}
.col4-footer {
    width: 30%;
    float: left;
}
.col8-footer {
    float: left;
    width: 70%;
}
.footer-inner p {
    font-size: 20px;
}
.footer-inner a {
    color: black;
}
.col8-footer {
    font-size: 72px;
    padding: 2%;
}
.autor {
    text-align: center;
    background-color: darkorange;
    padding: 10px;
}
.col8-footer ul {
    display: table;
}
.col8-footer ul li {
    display: table-cell;
    width: 25%; 
}
.col8-footer a:hover {
    color: royalblue;
}
footer p {
    font-size: 90%;
}
.social {
    width: 100%;
}


/* M E D I A ---------------------------------------------------------------*/

@media (max-width: 480px) {
    
    nav ul li {
        padding-top: 10%;
    }
    nav ul li a, nav:active ul{
        font-size: 20px;
    }
    aside {
        display: none;
    }
    main {
        width: 100%;
    }
    article {
        padding: 3%;
        width: 100%;
        float: none;
    }
    article p {
        margin: 0;
    }
    .services-inner {
        margin: 0;
        width: 100%;
    }
    .services-box {
        width: 100%;
    }
    .p-border {
        border: none;
    }
    .services-box p {
        width: 100%;
    }
    .col3{
        width: 100%;
        float: none;
    }
    .col3 p {
        width: 100%;
    }
    .offer-box{
        width: 100%;
    }
    .col4-offer {
        width: 100%;
        padding: 0:
        float: none;
    }
    .contact-container {
        width: 100%;
    }
    footer{
        width: 100%;
        float: none;
    }
    .footer-inner {
        width: 100%;
    }
    .col4-footer {
        width: 100%;
        float: none;
        text-align: center;
    }
    .col8-footer {
        width: 100%;
        float: none;
        font-size: 24px;
        text-align: center;
        padding: 0;
    }
    .social {
        padding-top: 5%;
    }
    
    h1 {font-size: 58px;}

    h2 {font-size: 46px;}

    h3 {font-size: 36px;}

    p {font-size: 22px;}
}